{% extends 'base.html' %}
{%load static %}
{% block title %} Home {% endblock title %}
{% block body %}
    <section style="background: url({%static 'img/featured-pic-1.jpeg'%}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>What is new in Tech World!</h1><a href="#" class="hero-link">Discover More</a>
          </div>
      </div>
    </section>
       <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">Some great intro here</h2>
            <p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
          </div>
        </div>
      </div>
    </section>
      <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        {% for post in allPosts  %}
        <div class="row d-flex align-items-stretch my-4">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category"><a href="#">Business</a><a href="#">Technology</a></div><a href="post.html">
                    <h2 class="h4">{{post.title}}</h2></a>
                </header>
                <p>{{post.content|truncatechars:100}}</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{post.thumb.url}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{post.author}}</span></div></a>
                  <div class="date"><i class="icon-clock"></i> {{post.timeStamp}}</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer>
              </div>
            </div>
          </div>
          <div class="image col-lg-5"><img src="{{post.thumb.url}}" alt="..."></div>
        </div>
    {% endfor %}

      </div>
    </section>
    <footer class="bg-light text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <form action="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
              <p class="pt-2"><strong>Sign up for our newsletter</strong></p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-5 col-12 mb-4 mb-md-0">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form5Example2" class="form-control"  placeholder="Email"/>
              </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary mb-4">Subscribe</button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark" href="/">Satyam Pandey</a>
      </div>
      <!-- Copyright -->
    </footer>
{% endblock body %}